*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #123;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.empty{
    height: 200px;
    width: 200px;
    margin: 10px;
    border: 2px solid #fff;
    background: white;
    border-radius: 15px;
}
.fill{
    background-image: url("img/1.png");
    height: 195px;
    width:195px;
    cursor: pointer;
    border-radius: 15px;
}
/* javascript */
.hovered{
    background-color: green;
    border: 3px dashed white;
}
@media (max-width:800px) {
    body{
        flex-direction: column;
    }
}
